@media screen and (max-width: 768px ){
    .mainTitulo{
        font-size: 50px;
        margin-left: 10vh;
    }
    .menu-lista{
        font-size: 25px;
        /* margin-left: 25%; */
    }
    .carrossel{
        width: 100%;
        margin-left: 200px;
    }
    .pEstilo{
        font-size: 20px;
    }
    .avaliacoes {
        width: 100%;
    }
    .blocoComentario {
        /* padding: 20px; */
        width: 50%;
        margin: 1%;
      }
    .blocoComent{
        display: flex;
        justify-content: center;
        margin-left: 50%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .unicoBloco{
        width: 75%;
    }
    .swiper-slide img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lojas{
        flex-direction: column;
        align-items: center;
    }
    .div-produtos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .carrossel {
        margin-left: 0;
    }
}